body{
    background-color: #eeeec3;
}

#contenedor{
    width: 45%;
    margin: 30px auto;
    border: 1px solid #b4e5b9;
    background-color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera{
    height: 100px;
    background-color: #eeede9;
    margin:  auto;
}
#logo img{
    margin: 5px;
}

#menu{
    border-bottom: 4px solid #9bcea0 ;
}

#menu ul{
    padding-right: 60px;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li{
    margin:1px;
    background-color: black;
    color: white;
    padding: 10px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 6px;}

li:hover{
    background-color: darkgray;
    color:black;
}

#contenido{
    font-size:14px;
    font-family: Montserrat;
    padding-bottom: 15px;
}

.seccion{
    display: flex;
    text-align: justify;
}

.articulo{
    padding: 0px 7.5px;

}
.articulo img{
    float: left;
    margin-right: 10px;
}

.articulo h3{
    color: white;
    margin: 15px 0px 10px;
    text-align: center;
}

.articulo p{
    margin: 0;
}

#pie{
    border-top: 4px solid #9bcea0 ;
    background-color: #eeede9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pie p{
    margin: 10px 5px;
    font-family:Gill Sans;
    font-weight: bolder;
}
